<mat-card class="title" ><h1>Welcome to Community</h1></mat-card>
<!--<mat-card class="container left">-->
<!--<mat-card class="thecardl">-->
<!--<mat-card class="wh-group wh-front"></mat-card>-->
<!--<mat-card class="wh-back"></mat-card></mat-card></mat-card>-->
<!--<mat-card class="container">-->
<!--<mat-card class="thecardr">-->
<!--<mat-card class="gt-group gt-front"></mat-card>-->
<!--<mat-card class="gt-back"></mat-card></mat-card></mat-card>-->
<mat-card><mat-card class="whatsapp"><img src="../../../assets/images/Whatsapp-Web-android-809x396.jpg">
  <a href="https://chat.whatsapp.com/EY44e81jzzCFLXEkY0tjFc">1. Pythonistas</a><br>
  <a href="https://chat.whatsapp.com/DYtSfG9umIdFXxCVBMKRUD">2. Linux</a></mat-card>
<mat-card class="gitter"><img src="../../../assets/images/gitter.jpg"><a href="https://gitter.im/indiaengineers/Lobby?utm_source=share-link&utm_medium=link&utm_campaign=share-link">
  Indian Engineers/Lobby
</a><br>
</mat-card>
</mat-card>
